.navbar {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  min-height: 100vh;
  box-sizing: border-box;
  text-align: left;
}

#btn-information-systeme{
    width: 5vh;
    height: 5vh;
    margin-right: auto;
    cursor: pointer;
}

.navbar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
  width: 100%;
}

.navbar-title {
  font-size: 22px;
  color: #333;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.navbar .container-icon-optimiser-pc {
    display: flex;
    flex-direction: column;
    background: cornflowerblue;
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
}

#svg-eclair {
    width: 5svh;
    height: 5vh;
    fill: yellow;
}


.navbar-links {
  width: 35vh;
  font-size: 0.95em;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 15px;
  flex-grow: 1;
}

.navbar-links a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.navbar-item {
  background-color: #F8F9FA;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-left: 4px solid transparent;
  font-weight: 500;
}

.navbar-item:hover {
  background-color: white;
  border-left-color: #61dafb;
}

.navbar-item.actif {
  background-color: white;
  border-left-color: #61dafb;
}