#btn-back{
    width: 5vh;
    height: 5vh;
    cursor: pointer;
}
.container-download-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item-dowload-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    gap: 10px;
}
.btn-dowload-xlsx{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border: 2px solid #000;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.btn-delete{
    width: 36px;
    height: 36px;
    fill: red;
    cursor:pointer;
}