.nettoyage-disque-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header-nettoyage-disque{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.container-btn-download{
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-autocomplete-nettoyage-disque{
  width: 80%;
  display: flex;
  gap: 3vh;
}
#btn-delete-partitions {
  width: 40px;
  height: 40px;
  fill: #ff4d4f;
  cursor: pointer;
  transition: transform 0.2s;
}